<%- include("partials/header")%>
  <div class="mb-5 w-[100%] mx-auto px-24 py-3">

    <h1 class="w-[20%] text-2xl rounded-2xl border border-slate-700 p-3 m-auto text-center">
      Homepage</h1>
      <hr class="mb-5 mt-2 w-[103%] m-auto px-10 -ml-5">

    <div class="flex w-[100%] gap-10 mt-5">
      <% properties.forEach((prop)=> { %>
        <div class="overflow-auto p-3 bg-gray-200 w-[100%] rounded-2xl">
          <ul class="w-[100%]">
            <li class="text-center font-semibold underline w-full text-xl">Property Details: </li>
            <br>
            <li class=" border border-slate-900 px-3 py-2 text-center bg-white font-bold">
              Property Creator: <%= (prop.owner) %>
            </li>
            <br>
            <li class="rounded-2xl border border-slate-900 px-3 py-2 text-center bg-gray-200 w-[100%] h-[50%]">
              <img class="w-[200px] h-[150px] object-center flex justify-center items-center m-auto"
                src="/images/<%= prop.image%>" alt="image-1">
            </li>
            <br>
            <li class="rounded-2xl border border-slate-900 px-3 py-2 text-center bg-gray-200">
              <%= (prop.title) %>
            </li>
            <br>
            <li class="rounded-2xl border border-slate-900 px-3 py-2 text-center bg-gray-200">
              <%= (prop.description) %>
            </li>
            <br>
            <li class="rounded-2xl border border-slate-900 px-3 py-2 text-center bg-gray-200">
              <%= (prop.price) %>
            </li>
            <br>
            <li class="rounded-2xl border border-slate-900 px-3 py-2 text-center bg-gray-200">
              <%= (prop.location) %>
            </li>
            <br>
            <li class="rounded-2xl border border-slate-900 px-3 py-2 text-center bg-gray-200">
              <%= (prop.status) %>
            </li>
          </ul>
          <br>
        </div>
        <% }) %>
    </div>
  </div>
  <%- include('partials/footer') %>