<%- include('partials/header') %>

<div class="w-full max-w-lg mx-auto px-6 py-6">
    <h1 class="text-3xl font-bold text-center mb-6 glass p-4 rounded-lg">
        Update Appointment
    </h1>

    <form class="glass p-6 rounded-lg shadow-md" action="/appointment/update/<%= appointment._id %>" method="POST">
        <div class="mb-4">
            <select 
                class="bg-opacity-80 shadow-lg glass w-full rounded-2xl px-4 py-3 text-lg mb-4" 
                name="status">
                <option value="" disabled>Select Status</option>
                <option value="scheduled" <%= appointment.status === "scheduled" ? "selected" : "" %>>Scheduled</option>
                <option value="completed" <%= appointment.status === "completed" ? "selected" : "" %>>Completed</option>
                <option value="cancelled" <%= appointment.status === "cancelled" ? "selected" : "" %>>Cancelled</option>
            </select>
        </div>
        <div class="mb-4">
            <input 
                class="bg-opacity-80 shadow-lg glass w-full rounded-2xl px-4 py-3 text-lg mb-4" 
                type="date" 
                name="date" 
                value="<%= appointment.date.toISOString().slice(0, 10) %>">
        </div>
        <button 
            type="submit" 
            class="button w-full rounded-2xl px-4 py-2 text-lg">Update Appointment
        </button>
    </form>
</div>

<%- include('partials/footer') %>
